@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* font-family: 'Roboto Slab', serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #626262;
}
a {
  color: #2BAAEC;
  text-decoration: none;
}
a:hover {
  color: #25E6C8;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.bg-gray {
  background: #DEDEDE;
  
}
.btn1 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
}

.btn-greenish {
  color: #fff;
  background-color: #25E6C8;
  font-weight: bold;
}

.collapse:not(.show) {
  display: none;
}

.navbar-top {
  border-bottom: 1px solid #707070;
  padding: 0.5rem;
  /* font-family: 'Roboto', sans-serif; */
}
.navbar-top .container, .navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar-top .container .hours i {
  color: #2BAAEC;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.navbar-top .container .socialmedia a {
  margin: 0 0.5rem;
}
.navbar .container {
  align-items: center;
}
.navbar {
  margin: 0.2rem 0;
  padding: 0.1rem;
}
.navbar-brand img {
  height: 4rem;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
}
.nav-link {
  color: #363636;
  font-family: 'Roboto Slab', serif;
}
.navbar-toggler {
  font-size: 2.5rem;
  color: #2BAAEC;
  background-color: transparent;
  border: 1px solid transparent;
}

/*  Showcase */

#showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;

}
#showcase .container img {
  height: 500px;
  margin-top: 1rem;
}
#showcase .container .content-box {
  align-self: center;

}

#showcase .container .content-box h1 {
  color: #363636;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
}
#showcase .container .content-box p {
  font-size: 0.9rem;
  margin: 2.5rem 0;
}

.btn-greenish:hover {
    background-color: #2BAAEC;
    color: #fff;
}

/* appointment*/ 

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    width: 50%;
  }

  .btn-secondary {
    border: 0.6px solid #fff;
    background-color: #fff;
    color:  #2BAAEC;
    border-radius: 0.5rem;
  
  }
 
  .btn-secondary:hover {
    background-color: var(--secondary);
    border: 0.5px solid #fff;
    color: #fff;
}

.appointment{
    padding: 2.5rem 0;
    background-color:  #2BAAEC;
    opacity: 0.8;
}

.appointment .container .text {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;    
}

 
 
.fot {
    background-color: #2BAAEC;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        padding: 0 0.5rem;
    }
    .collapse:not(.show) {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}