@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* font-family: 'Roboto Slab', serif;*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #626262;
}

a {
    color: #2BAAEC;
    text-decoration: none;
}
a:hover {
    color: #25E6C8;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.navbar-top {
    border: 1px solid #707070;
    padding: 0.5rem;  /* går att lägga 10px */
}

.navbar-top .container, .navbar .container {
    display: flex;
    justify-content: space-between;
}
.hours i {
    color: #2BAAEC;
    margin-right: 0.2rem;
    font-size: 1.2rem;
}
.navbar-top .container .socialmedia a {
    margin: 0 0.5rem;
}
/*
.navbar-top{ 
    font-family: 'Roboto', sans-serif; 
}*/
 .navbar .container {
  align-items: center;
}
.navbar {
    margin: 0.2rem 0;
    padding: 0.2rem;
}
.navbar-brand img {
    height: 4rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
}
.nav-link {
    color: #363636;
    font-family: 'Roboto Slab', serif;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    color: #2BAAEC ;
    font-size: 2.5rem;
}

.collapse:not(.show) {
    display: none;
}

.bg-gray {
 background: #DEDEDE;

}
 .btn {
     display: inline-block;
     /* font-weight: 400; */
     text-align: center;
     vertical-align: middle;
     background-color: transparent;
     border: 1px solid transparent;
     padding: 0.75rem 2.5rem;
     border-radius: 0.6rem;
 }

 .btn-greenish {
     color: #fff;
     background-color: #25E6C8;
     font-weight: bold;
 }

#showcase .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

#showcase .container img {
    height: 500px;
    margin-top: 1rem;
}

.content-box {
align-self: center;

}
.color { /*text i container box*/ 
   color: #363636;
   font-family: 'Roboto Slab', serif;
   font-size: 3rem;
   font-weight: 400;
   line-height: 1.1;
   
}

.color2 {
    margin: 2.5rem 0;
    font-size: 0.8rem;
}




@media (min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        padding: 0 0.5rem;
    }
    .collapse:not(.show) {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

